.sobre {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-wrap: wrap;

    border-top: 2px solid #2C70FF;
    border-bottom: 2px solid #2C70FF;
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7C7C7C;
}

.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
}